body{
    margin: 0;
    background-image: url(roilion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.container{
    
    margin: 0%;
}


h1 {
    margin: 0%;
    text-align: center;
    text-transform: uppercase;
    
}
.box{
    border-radius: 22px;
    margin: 0%;
    width: 77%;
    height:350px ;
    display: block;
    margin-left: auto;
    margin-right: auto;    
  display: flex;
  justify-content: space-around;
  flex-direction: column;
    align-items: center;
   

}
.tableaudejeu{
    background-color: rgba(188, 108, 37, 0.7);
    height: 100%;
    width:100%;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    
 
   
 
}
.bol{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(221, 161, 94, 0.7) ;
    margin: 1%;
    font-size: 40px;
    border: solid 2px black;
    border-radius: 50%;
    height:90%;
    width:90%;
    cursor: pointer;
   
}

.bouton{
    
    float: left; 
    background-color: #9d0208;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 200px; 
    cursor: pointer;
    margin: 5px;
    margin-top: 25px;
    }

    .bouton:active{
        background-color: hsl(110, 62%, 34%);
    }

    .footer{

margin: 30%;
margin-top: 0%;
margin-bottom: 0%;

    }


    .score{
    background-color: #9d0208;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 100px; 
    margin: 5px;
    }

    #p1{
        float: left;
        margin-top: 10%;
    }

    #p2{
        float: right;
        margin-top: 10%;
    }
    
    .yo{
        font-size: 22px;
    }
    